@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
 
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  overflow: auto;
  max-width: 500px;
  min-height: 300px;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
}

.header {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.Account{
  background: #ffffff;
  border: 2px solid steelblue;
  border-radius: 5px;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 250px;
  justify-content: space-between;
}



.Account h4 {  
  margin-left: 10px;
}
.Account form {  
  font-size: small;
}

.Account:hover{
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}





.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: 'white';
  color: steelblue;
  border: 2px solid steelblue;
  padding: 10px 20px;
  min-height: 50px;
  min-width: 250px;
  margin: 5px;
  border-radius: 40px;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  font-family: inherit;
}

.btn span{
  margin-left:10px;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

.btn:hover{
  
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Set the shadow properties */
}


.add-form {
  margin-bottom: 10px;
}

.form-control {
  margin: 10px 0;
}




.form-control label {
  display: block;
}

.form-control select, input {
  width: 250px;
  height: 30px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 12px;
}

.form-control-check {
  display: flex;
  align-items: center;

}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 10px;
}

footer {
  margin-top: 30px;
  text-align: center;
}